
<suite parallel="classes" name="Suite1">
  <test thread-count="5" parallel="classes" name="Test1">
    <classes>
      <class name="StepDefinitions.TestNG_demo"/>
      <class name="StepDefinitions.ExtendReportDemoTestNG"/>
	<class name="StepDefinitions.LoginDemoTestNG" >

       </class>
    </classes>
  </test>
</suite>
